# **Decision Tree Classifier for Classification**

Decision Tree Classifier is a type of supervised learning algorithm that is mostly used in classification problems. It is a tree-based model that splits the data into smaller subsets based on the features of the data. It then recursively continues this process until the data can be classified accurately. In this lab, we will be using the Iris dataset from Scikit-learn to train a Decision Tree Classifier to classify the different types of Iris flowers based on their features.

***About Dataset***

The **Iris dataset** is a well-known and commonly used dataset in machine learning and data analysis. It contains information on 150 Iris flowers, where each flower is represented by four features: sepal length, sepal width, petal length, and petal width, as well as its species (setosa, versicolor, or virginica). The dataset is included in many machine learning packages, including Scikit-learn, where it can be loaded using the load_iris() function.

 # **Import necessary libraries**

In [ ]:
# from sklearn.datasets import load_iris
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,f1_score,confusion_matrix, classification_report

# **Load the iris dataset**

In [ ]:
iris = pd.read_csv("C:\\Users\\CSE\\Downloads\\Iris.csv", delimiter = ',') #, header = None
iris.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

# **Accessing the Column Names in the Dataset**

In [ ]:
iris.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [ ]:
iris = iris.set_index('Id')
iris.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

# **Finding the Shape of the Dataset**

In [ ]:
iris.shape

(150, 5)

In [ ]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

# **Checking Missing Values**

In [ ]:
iris.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

# **Label Encoding of Categorical Variables**

Label Encoding means converting categorical features into numerical values. So that they can be fitted by machine learning models which only take numerical data.

**Example:**
Suppose we have a column Height in some dataset that has elements as Tall, Medium, and short. To convert this categorical column into a numerical column we will apply label encoding to this column. After applying label encoding, the Height column is converted into a numerical column having elements 0,1, and 2 where 0 is the label for tall, 1 is the label for medium, and 2 is the label for short height.

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
iris[['Species']] = iris[['Species']].apply(le.fit_transform)

In [ ]:
iris.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
Id
1             5.1           3.5            1.4           0.2        0
2             4.9           3.0            1.4           0.2        0
3             4.7           3.2            1.3           0.2        0
4             4.6           3.1            1.5           0.2        0
5             5.0           3.6            1.4           0.2        0

# **Seperating Label from Data**

In [ ]:
y = iris['Species']
X = iris.drop(['Species'],axis=1)

In [ ]:
X.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'], dtype='object')

In [ ]:
y

Id
1      0
2      0
3      0
4      0
5      0
      ..
146    2
147    2
148    2
149    2
150    2
Name: Species, Length: 150, dtype: int32

# **Normalize data before training**

MinMaxScaler is used for normalization of data

In [ ]:
scaler = MinMaxScaler()
X_normalized = scaler.fit_transform(X)

# **Split data into train and test set**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_normalized, y, test_size=0.3, random_state=2)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(105, 4)
(105,)
(45, 4)
(45,)

# **Train Decision tree clasifier**

In [ ]:
clf = DecisionTreeClassifier(criterion="entropy")
clf.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy')

# **Make predictions on the test data**

In [ ]:
y_pred = clf.predict(X_test)

# **Evaluate Model Performance**

In [ ]:
con = confusion_matrix(y_test, y_pred)
print(con)

[[17  0  0]
 [ 0 14  1]
 [ 0  1 12]]

In [ ]:
clas = classification_report(y_test, y_pred)
print(clas)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        17
           1       0.93      0.93      0.93        15
           2       0.92      0.92      0.92        13

    accuracy                           0.96        45
   macro avg       0.95      0.95      0.95        45
weighted avg       0.96      0.96      0.96        45